/Makefile
/build/*
!/build/abi_dumps
/build/abi_dumps/chirp/*
!/build/abi_dumps/chirp/chirp_0.0.0.abi.tar.gz
/config.h
tags
/doc/inc
/doc/src
/doc/_build
/.clang_complete
/ci/alpine/.cache
/Makefile
/.floo*
